body {
  background: #dcf5ff;
  margin: 0;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}
.container {
  width: 30%;
  background: white;
  border-radius: 10px;
}

.container .inner {
  background: #00b6ff;
  padding: 1em;
  border-radius: 10px;
  width: 100%;
  clip-path: circle(10% at 0% 0%);
  transition: clip-path 0.5s ease-in-out;
}
.inner h1 {
  color: white;
  margin: 0;
  font-size: 4.5rem;
}

.inner p {
  color: white;
  font-size: 1.2rem;
}

.container:hover .inner{
    clip-path: circle(75%);
}